:root {
  color-scheme: light dark;

  --font-monospace: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}

html {
  font-family:
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji;
  font-size: 1.3rem;
  font-weight: 350;
  font-size: clamp(18px, 100vw / var(--width), 20px);
  line-height: 1.5;
}

main {
  max-width: 720px;
  margin: 0 auto;
  padding-bottom: 5em;
}

ul,
ol {
  padding-left: 2em;
}

pre {
  > div {
    position: relative;
    border-radius: .5em;
  }
}

code:not(pre code) {
  white-space: break-spaces;
  background: rgba(150, 150, 150, 0.2);
  border-radius: 6px;
  margin: 0;
  padding: .2em .4em;
  font-size: 85%;
  font-family: var(--font-monospace);
}
